/* Support for other screen ratios than 16:9 */
@media (aspect-ratio: 16/10) {
    section#filesystem > h3.title {
        width: 43.5vw;
    }

    div.keyboard_key {
        height: 2.5vw;
        min-width: 2.5vw;
    }
    div.keyboard_row:last-child {
        left: 0.8vh;
    }
    div.keyboard_row:last-child div {
        white-space: nowrap;
    }
    div.keyboard_row:last-child div:first-child {
        width: 6.5vh;
        min-width: 6.5vh;
    }
    div.keyboard_row:last-child div#keyboard_spacebar {
        width: 45vh;
        min-width: 45vh;
    }
    div.keyboard_row#row_2 > div.keyboard_enter {
        top: -0.9vh;
        right: -0.9vh;
    }

    /* See #317 */
    section.mod_column {
        width: 17.5%;
    }
    div#mod_toplist i {
        font-size: 1.10vh;
    }
    table#mod_toplist_table {
        padding-left: 0.2vh;
    }
    div#mod_toplist::after {
        right: -15.6vw;
    }

    div#mod_netstat_innercontainer {
        font-size: 1vh;
    }

    div#mod_conninfo canvas {
        height: 10vh;
    }
}

@media (aspect-ratio: 64/27) { /* Commercial name of 64/27 ratio is 21:9 */
    div.keyboard_row#row_1 > div.keyboard_enter {
        height: 2.1vw;
        margin-top: 0.2vh;
    }
    div.keyboard_row#row_2 > div.keyboard_enter {
        height: 6vh;
    }
    div.keyboard_key#keyboard_spacebar {
        width: 60vh;
    }
    div.keyboard_row#row_space {
        left: 1.6vw;
    }

    div#mod_cpuinfo > div > div {
        width: 94%;
    }

    table#mod_toplist_table {
        margin-top: -1vh;
    }

    div#mod_netstat_inner {
        width: 100%;
    }

    div#mod_globe canvas {
        width: 85%;
    }

    div#mod_conninfo canvas {
        height: 8vh;
    }
}
