section#filesystem {
    position: relative;
    top: -0.925vh;
    width: 43vw;
    height: 30vh;
}

section#filesystem > h3.title {
    width: 43vw;
    padding-right: 0;
}

h2#fs_disp_error {
    font-weight: bold;
    text-align: center;
    padding-top: 12vh;
}

div#fs_disp_container {
    position: relative;
    left: .35vw;
    top: 1.5vh;
    height: 25.5vh;
    width: 43vw;
    overflow: auto; /* need to style scrollbars */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8.5vh, 1fr));
    grid-auto-rows: 8.5vh;
    grid-gap: 1vh;

    border-bottom: 2.3vh solid red; /* Placeholder for the disk space bar */
}

div#fs_disp_container > * {
    overflow: hidden;
    width: 8.5vh;
    height: 8.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div#fs_disp_container > *.hidden {
    opacity: 0.7;
}

div#fs_disp_container > * > h3 {
    font-size: 1.3vh;
    max-width: 100%;
    max-height: 30%;
    margin: 0px;
    padding-top: .5vh;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.fs_disp_file > h3 {
    font-weight: normal;
}
div.fs_disp_symlink > h3 {
    font-weight: normal;
    text-decoration: underline;
}
div.fs_disp_other > h3 {
    font-style: italic;
}
