section#filesystem {
    position: relative;
    top: -0.925vh;
    width: 43vw;
    height: 30vh;

    opacity: 0;
    transition: opacity .5s cubic-bezier(0.4, 0, 1, 1);
}

section#filesystem > h3.title {
    width: 43vw;
    padding-right: 0;
}

h2#fs_disp_error {
    font-weight: bold;
    text-align: center;
    padding-top: 12vh;
}

div#fs_disp_container {
    position: relative;
    left: .35vw;
    top: 1.5vh;
    height: 25.5vh;
    width: 43vw;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8.5vh, 1fr));
    grid-auto-rows: 8.5vh;
    grid-gap: 1vh;
}

div#fs_disp_container > * {
    overflow: hidden;
    width: 8.5vh;
    height: 8.5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div#fs_disp_container > *.hidden {
    opacity: 0.7;
}

div#fs_disp_container > * > svg {
    width: 5vh;
}

div#fs_disp_container > * > h3 {
    font-size: 1.3vh;
    max-width: 100%;
    max-height: 30%;
    margin: 0px;
    padding-top: .5vh;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.fs_disp_up > svg {
    width: 4vh !important;
}

div.fs_disp_file > h3 {
    font-weight: normal;
}
div.fs_disp_symlink > h3 {
    font-weight: normal;
    text-decoration: underline;
}
div.fs_disp_other > h3 {
    font-style: italic;
}

div#fs_space_bar {
    position: relative;
    top: 1.5vh;
    left: .15vw;
}

div#fs_space_bar > h3 {
    width: 30%;
    margin: 0;
    display: inline-block;
    font-size: 1.4vh;
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    bottom: .4vh;
}

div#fs_space_bar > progress {
    width: 70%;
    height: 2.2vh;
    padding-top: .5vh;
    -webkit-appearance: none;
}

div#fs_space_bar > progress::after {
    content: "";
    position: absolute;
    right: -.1vh;
    top: .45vh;
    width: .1vh;
    height: 1.7vh;
    background: rgba(var(--color_r), var(--color_g), var(--color_b), 0.8);
}

div#fs_space_bar > progress::-webkit-progress-bar {
    background: rgba(var(--color_r), var(--color_g), var(--color_b), 0.4);
    height: .7vh;
    position: relative;
    top: .7vh;
}

div#fs_space_bar > progress::-webkit-progress-value {
    background: rgb(var(--color_r), var(--color_g), var(--color_b));
    height: .7vh;
    position: relative;
    bottom: .7vh;
    transition: width .5s cubic-bezier(0.4, 0, 1, 1);
}
