@font-face {
    font-family: "Fira Mono";
    src: url("../fonts/fira_mono.woff2") format("woff2");
}

@font-face {
    font-family: "United Sans Medium";
    src: url("../fonts/united_sans.woff2") format("woff2");
}

@font-face {
    font-family: "United Sans Light";
    src: url("../fonts/united_sans_light.woff2") format("woff2");
}

body {
    font-family: var(--font_main), sans-serif;
}
