section#keyboard {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

div.keyboard_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 5px 0px;
    height: 57px;
}

div.keyboard_key {
    height: 53px;
    min-width: 53px;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(190, 230, 193, 0.0);
    border: 2px solid rgba(190, 230, 193, 0.0);
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

div.keyboard_key:active, div.keyboard_key.keyboard_enter.active {
    border: 2px solid rgba(190, 230, 193, 0.0);
    background-color: rgba(190, 230, 193, 1);
}

div.keyboard_key.blink {
    animation-name: blink;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blink {
    0% {background-color: rgba(190, 230, 193, 0.0);}
    50% {background-color: rgba(190, 230, 193, 1);}
    100% {background-color: rgba(190, 230, 193, 0.0);}
}

div.keyboard_key > * {
    margin: 0px 5px;
    padding: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
}

div.keyboard_key > h1, div.keyboard_key > h4, div.keyboard_row > .keyboard_key:last-child > *, div.keyboard_row > .keyboard_key:first-child > * {
    position: relative;
    top: 3px;
    font-size: 26px;
}

div.keyboard_row > .keyboard_key:last-child > *, div.keyboard_row > .keyboard_key:first-child > *, div.keyboard_row:last-child > .keyboard_key > * {
    font-size: 20px;
}

div.keyboard_key > *:not(:first-child) {
    margin: 0px;
    font-size: 18px;
    position: absolute;
}

div.keyboard_key > h2 {
    top: 3px;
    left: 3px;
}

div.keyboard_key > h3 {
    bottom: 3px;
    right: 3px;
}

div.keyboard_key > h4, div.keyboard_row > .keyboard_key:last-child > *:not(h1), div.keyboard_row > .keyboard_key:first-child > *:not(h1) {
    opacity: 0;
    position: absolute;
}

div.keyboard_row > .keyboard_key:last-child, div.keyboard_row > .keyboard_key:first-child {
    width: 90px;
}

div.keyboard_key#keyboard_spacebar, div.keyboard_enter {
    border: 2px solid rgba(190, 230, 193, 0.5);
}

div.keyboard_row#row_1 > div.keyboard_enter {
    border-bottom-right-radius: 0px;
    width: 105px;
}

div.keyboard_row#row_1 > div.keyboard_enter > h1 {
    position: relative;
    left: 5px;
}

div.keyboard_row#row_2 > div.keyboard_enter {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 2px solid #090b0a;
    width: 84px;
    margin-top: 0px;
    height: 69px;
    top: -4px;
    right: -11px;
}

div.keyboard_row#row_2 > div.keyboard_enter:active, div.keyboard_row#row_2 > div.keyboard_enter.active {
    border-top: 2px solid rgb(190, 230, 193);
}

div.keyboard_key#keyboard_spacebar {
    width: 515px;
    height: 38px;
}
