section#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

div.keyboard_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 5px 0px;
    height: 57px;
}

section#keyboard.animation_state_2 > div.keyboard_row:nth-child(1) {
    transition: width .5s cubic-bezier(0.4, 0, 1, 1), background .1s linear .5s;
}
section#keyboard.animation_state_2 > div.keyboard_row:nth-child(2) {
    transition: width .5s cubic-bezier(0.4, 0, 1, 1) .2s, background .1s linear .7s;
}
section#keyboard.animation_state_2 > div.keyboard_row:nth-child(3) {
    transition: width .5s cubic-bezier(0.4, 0, 1, 1) .4s, background .1s linear .9s;
}
section#keyboard.animation_state_2 > div.keyboard_row:nth-child(4) {
    transition: width .5s cubic-bezier(0.4, 0, 1, 1) .6s, background .1s linear 1.1s;
}
section#keyboard.animation_state_2 > div.keyboard_row:nth-child(5) {
    transition: width .5s cubic-bezier(0.4, 0, 1, 1) .8s, background .1s linear 1.3s;
}

section#keyboard.animation_state_1 > * {
    background-color: rgba(190, 230, 193, 1);
    width: 0px;
    overflow: hidden;
}

section#keyboard.animation_state_2 > * {
    width: 53vw;
    background-color: rgba(190, 230, 193, 0);
}

div.keyboard_row:last-child {
    position: relative;
    left: 34px;
}

div.keyboard_key {
    height: 53px;
    min-width: 53px;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(190, 230, 193, 0.0);
    border: 2px solid rgba(190, 230, 193, 0.0);
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

div.keyboard_key:active, div.keyboard_key.active {
    border: 2px solid rgba(190, 230, 193, 0.0);
    background-color: rgba(190, 230, 193, 1);
}

div.keyboard_key.blink {
    animation-name: blink;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blink {
    0% {background-color: rgba(190, 230, 193, 0.0);}
    50% {background-color: rgba(190, 230, 193, 1);}
    100% {background-color: rgba(190, 230, 193, 0.0);}
}

div.keyboard_key > * {
    margin: 0px 5px;
    padding: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 0px;
}

div.keyboard_key > h1, div.keyboard_key > h4, div.keyboard_row > .keyboard_key:last-child > *, div.keyboard_row > .keyboard_key:first-child > * {
    position: relative;
    top: 3px;
    font-size: 26px;
}

div.keyboard_row:not(:nth-child(4)) > .keyboard_key:last-child > *, div.keyboard_row > .keyboard_key:first-child > *, div.keyboard_row:last-child > .keyboard_key > *, div.keyboard_row:nth-child(4) > .keyboard_key:nth-last-child(2) > * {
    font-size: 20px;
}

div.keyboard_row:last-child > .keyboard_key:nth-last-child(-n+3) > * {
    font-size: 26px;
}

div.keyboard_key > *:not(h1) {
    margin: 0px;
    font-size: 18px;
    position: absolute;
}

div.keyboard_key > h2 {
    top: 3px;
    left: 3px;
}

div.keyboard_key > h3 {
    bottom: 3px;
    right: 3px;
}

div.keyboard_key > h4, div.keyboard_row > .keyboard_key:last-child > *:not(h1), div.keyboard_row > .keyboard_key:first-child > *:not(h1) {
    opacity: 0;
    position: absolute;
}

div.keyboard_row:not(:nth-child(4)):not(:last-child) > .keyboard_key:last-child, div.keyboard_row > .keyboard_key:first-child {
    width: 90px;
}

div.keyboard_key#keyboard_spacebar, div.keyboard_enter {
    border: 2px solid rgba(190, 230, 193, 0.5);
}

div.keyboard_row#row_1 > div.keyboard_enter {
    border-bottom-right-radius: 0px;
    width: 105px;
}

div.keyboard_row#row_1 > div.keyboard_enter > h1 {
    position: relative;
    left: 5px;
}

div.keyboard_row#row_2 > div.keyboard_enter {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 2px solid #090b0a;
    width: 84px;
    margin-top: 0px;
    height: 69px;
    top: -4px;
    right: -11px;
}

div.keyboard_row#row_2 > div.keyboard_enter:active, div.keyboard_row#row_2 > div.keyboard_enter.active {
    border-top: 2px solid rgb(190, 230, 193);
}

div.keyboard_key#keyboard_spacebar {
    width: 515px;
    height: 38px;
}

div.keyboard_row:nth-child(4) > div.keyboard_key:last-child {
    position: relative;
    top: 3px;
}

div.keyboard_row:last-child > div.keyboard_key:nth-last-child(-n+3) {
    margin: 0px;
    position: relative;
    bottom: 3px;
}

section#keyboard[data-is-caps-lck-on="true"] div.keyboard_key[data-cmd="ESCAPED|-- CAPSLCK: ON"] {
    background-color: rgb(190, 230, 193);
    color: black;
}

section#keyboard[data-is-shift-on="true"] > div.keyboard_row > div.keyboard_key > h2:not(:empty), section#keyboard[data-is-caps-lck-on="true"] > div.keyboard_row > div.keyboard_key > h2:not(:empty) {
    position: relative;
    top: 3px;
    font-size: 26px;
    margin: 0px 5px;
}

section#keyboard[data-is-shift-on="true"] > div.keyboard_row:first-child > div.keyboard_key:last-child > h2, section#keyboard[data-is-caps-lck-on="true"] > div.keyboard_row:first-child > div.keyboard_key:last-child > h2 {
    font-size: 20px;
    opacity: 1;
}

section#keyboard[data-is-shift-on="true"] > div.keyboard_row > div.keyboard_key > h2:not(:empty) + h1, section#keyboard[data-is-caps-lck-on="true"] > div.keyboard_row > div.keyboard_key > h2:not(:empty) + h1 {
    margin: 0px;
    font-size: 18px;
    position: absolute;
    top: 3px;
    left: 3px;
}

section#keyboard[data-is-shift-on="true"] > div.keyboard_row:first-child > div.keyboard_key:last-child > h2 + h1, section#keyboard[data-is-caps-lck-on="true"] > div.keyboard_row:first-child > div.keyboard_key:last-child > h2 + h1 {
    opacity: 0;
}


section#keyboard[data-is-fn-on="true"] div.keyboard_key[data-cmd="ESCAPED|-- FN: ON"] {
    background-color: rgb(190, 230, 193);
    color: black;
}

section#keyboard[data-is-fn-on="true"] > div.keyboard_row > div.keyboard_key > h4:not(:empty) {
    position: relative;
    top: 3px;
    font-size: 23px;
    margin: 0px 5px;
    opacity: 1;
}

section#keyboard[data-is-fn-on="true"] > div.keyboard_row > div.keyboard_key > h4:not(:empty) + h3, section#keyboard[data-is-fn-on="true"] > div.keyboard_row > div.keyboard_key > h4:not(:empty) + h3 + h2, section#keyboard[data-is-fn-on="true"] > div.keyboard_row > div.keyboard_key > h4:not(:empty) + h3 + h2 + h1 {
    position: absolute;
    opacity: 0;
}
