section#main_shell {
    width: 65%;
    height: 60.3%;
    padding: 0.74vh;
    border: 0.18vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.5);
    border-radius: 0.278vh;
    transition: width .5s cubic-bezier(0.4, 0, 1, 1), height .5s cubic-bezier(0.4, 0, 1, 1);
}

section#main_shell.greeting {
    display: flex;
}

h1#main_shell_greeting {
    font-size: 3.9vh;
    font-weight: normal;
    margin: auto;
    opacity: 0;
    transition: opacity .5s cubic-bezier(0.4, 0, 1, 1);
}

h1#main_shell_greeting > em {
    font-style: normal;
    font-weight: bold;
}

section#main_shell > h3.title {
    top: 0.74vh;
    left: 16.5vw;
    width: 66%;
    transition: opacity .5s cubic-bezier(0.4, 0, 1, 1) .5s;
}

section#main_shell > h3.title > p {
    width: 49.8%;
}

section#main_shell pre {
    height: 100%;
    width: 100%;
    margin: 0vh;
    overflow: hidden;
}

.terminal .xterm-viewport {
    overflow: hidden;
}

.xterm {
    font-family: inherit;
    font-feature-settings: "liga" 0;
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.xterm.focus,
.xterm:focus {
    outline: none;
}

.xterm .xterm-helpers {
    position: absolute;
    top: 0;
    z-index: 10;
}

.xterm .xterm-helper-textarea {
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    width: 0;
    height: 0;
    z-index: -10;
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

.xterm .composition-view {
    background: #000;
    color: #FFF;
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.xterm .composition-view.active {
    display: block;
}

.xterm .xterm-viewport {
    background-color: #000;
    overflow-y: hidden;
}

.xterm canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.xterm .xterm-scroll-area {
    visibility: hidden;
}

.xterm .xterm-char-measure-element {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    left: -9999em;
}

.xterm.enable-mouse-events {
    /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
    cursor: default;
}

.xterm:not(.enable-mouse-events) {
    cursor: text;
}
