section#main_shell {
    width: 65%;
    height: 60%;
    padding: 8px;
    border: 2px solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.5);
    border-radius: 3px;
    transition: width .5s cubic-bezier(0.4, 0, 1, 1), height .5s cubic-bezier(0.4, 0, 1, 1);
}

section#main_shell > h3.title {
    top: 8px;
    left: 16.5%;
    width: 66%;
    transition: opacity .5s cubic-bezier(0.4, 0, 1, 1) .5s;
}

section#main_shell > h3.title > p {
    width: 49.92%;
}

section#main_shell pre {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.terminal .xterm-viewport {
    overflow: hidden;
}

.terminal {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    position: relative;
}

.terminal.focus,
.terminal:focus {
    outline: none;
}

.terminal .xterm-helpers {
    position: absolute;
    top: 0;
}

.terminal .xterm-helper-textarea {
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    width: 0;
    height: 0;
    z-index: -10;
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

.terminal .composition-view.active {
    display: block;
}

.terminal .xterm-rows {
    position: absolute;
    left: 6px;
    top: 4px;
}

.terminal .xterm-rows > div {
    white-space: nowrap;
}

.terminal .xterm-scroll-area {
    visibility: hidden;
}

.terminal .xterm-char-measure-element {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    left: -9999em;
}
