section#main_shell {
    width: 55%;
    height: 60%;
    padding: 8px;
    border: 2px solid rgba(190, 230, 193, 0.5);
    border-radius: 3px;
}

section#main_shell pre {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.terminal .xterm-viewport {
    overflow: hidden;
}

.terminal {
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    position: relative;
}

.terminal.focus,
.terminal:focus {
    outline: none;
}

.terminal .xterm-helpers {
    position: absolute;
    top: 0;
}

.terminal .xterm-helper-textarea {
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    width: 0;
    height: 0;
    z-index: -10;
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

.terminal .terminal-cursor {
    background-color: #fff;
    color: #000;
}

.terminal:not(.focus) .terminal-cursor {
    outline: 1px solid #fff;
    outline-offset: -1px;
    background-color: transparent;
}

.terminal.focus .terminal-cursor.blinking {
    animation: blink-cursor 1.2s infinite step-end;
}

@keyframes blink-cursor {
    0% {
        background-color: #fff;
        color: #000;
    }
    50% {
        background-color: transparent;
        color: #FFF;
    }
}

.terminal .composition-view {
    background: #000;
    color: #FFF;
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.terminal .composition-view.active {
    display: block;
}

.terminal .xterm-rows {
    position: absolute;
    left: 6px;
    top: 4px;
}

.terminal .xterm-rows > div {
    white-space: nowrap;
}

.terminal .xterm-scroll-area {
    visibility: hidden;
}

.terminal .xterm-char-measure-element {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    left: -9999em;
}

/*
 *  Determine default colors for xterm.js
 */
.terminal a {
    font-weight: bold;
    color: inherit;
}

.terminal .xterm-bold {
    font-weight: bold;
}

.terminal .xterm-underline {
    text-decoration: underline;
}

.terminal .xterm-blink {
    text-decoration: blink;
}

.terminal .xterm-blink.xterm-underline {
    text-decoration: blink underline;
}

.terminal .xterm-hidden {
    visibility: hidden;
}

.terminal .xterm-color-0 {
    color: #5C685D;
}

.terminal .xterm-bg-color-0 {
    background-color: #5C685D;
}

.terminal .xterm-color-1 {
    color: #647065;
}

.terminal .xterm-bg-color-1 {
    background-color: #647065;
}

.terminal .xterm-color-2 {
    color: #89958A;
}

.terminal .xterm-bg-color-2 {
    background-color: #89958A;
}

.terminal .xterm-color-3 {
    color: #A4B0A5;
}

.terminal .xterm-bg-color-3 {
    background-color: #A4B0A5;
}

.terminal .xterm-color-4 {
    color: #7A867B;
}

.terminal .xterm-bg-color-4 {
    background-color: #7A867B;
}

.terminal .xterm-color-5 {
    color: #7C887D;
}

.terminal .xterm-bg-color-5 {
    background-color: #7C887D;
}

.terminal .xterm-color-6 {
    color: #859186;
}

.terminal .xterm-bg-color-6 {
    background-color: #859186;
}

.terminal .xterm-color-7 {
    color: #CEDACF;
}

.terminal .xterm-bg-color-7 {
    background-color: #CEDACF;
}

.terminal .xterm-color-8 {
    color: #758176;
}

.terminal .xterm-bg-color-8 {
    background-color: #758176;
}

.terminal .xterm-color-9 {
    color: #7F8B80;
}

.terminal .xterm-bg-color-9 {
    background-color: #7F8B80;
}

.terminal .xterm-color-10 {
    color: #B7C3B8;
}

.terminal .xterm-bg-color-10 {
    background-color: #B7C3B8;
}

.terminal .xterm-color-11 {
    color: #D4E0D5;
}

.terminal .xterm-bg-color-11 {
    background-color: #D4E0D5;
}

.terminal .xterm-color-12 {
    color: #A3AFA3;
}

.terminal .xterm-bg-color-12 {
    background-color: #A3AFA3;
}

.terminal .xterm-color-13 {
    color: #9FABA0;
}

.terminal .xterm-bg-color-13 {
    background-color: #9FABA0;
}

.terminal .xterm-color-14 {
    color: #B3BFB4;
}

.terminal .xterm-bg-color-14 {
    background-color: #B3BFB4;
}

.terminal .xterm-color-15 {
    color: #DFEBE0;
}

.terminal .xterm-bg-color-15 {
    background-color: #DFEBE0;
}

.terminal .xterm-color-16 {
    color: #39453A;
}

.terminal .xterm-bg-color-16 {
    background-color: #39453A;
}

.terminal .xterm-color-17 {
    color: #404C41;
}

.terminal .xterm-bg-color-17 {
    background-color: #404C41;
}

.terminal .xterm-color-18 {
    color: #434F44;
}

.terminal .xterm-bg-color-18 {
    background-color: #434F44;
}

.terminal .xterm-color-19 {
    color: #465247;
}

.terminal .xterm-bg-color-19 {
    background-color: #465247;
}

.terminal .xterm-color-20 {
    color: #4A564A;
}

.terminal .xterm-bg-color-20 {
    background-color: #4A564A;
}

.terminal .xterm-color-21 {
    color: #4D594E;
}

.terminal .xterm-bg-color-21 {
    background-color: #4D594E;
}

.terminal .xterm-color-22 {
    color: #606C61;
}

.terminal .xterm-bg-color-22 {
    background-color: #606C61;
}

.terminal .xterm-color-23 {
    color: #687468;
}

.terminal .xterm-bg-color-23 {
    background-color: #687468;
}

.terminal .xterm-color-24 {
    color: #6B776C;
}

.terminal .xterm-bg-color-24 {
    background-color: #6B776C;
}

.terminal .xterm-color-25 {
    color: #6E7A6F;
}

.terminal .xterm-bg-color-25 {
    background-color: #6E7A6F;
}

.terminal .xterm-color-26 {
    color: #717D72;
}

.terminal .xterm-bg-color-26 {
    background-color: #717D72;
}

.terminal .xterm-color-27 {
    color: #748075;
}

.terminal .xterm-bg-color-27 {
    background-color: #748075;
}

.terminal .xterm-color-28 {
    color: #717D72;
}

.terminal .xterm-bg-color-28 {
    background-color: #717D72;
}

.terminal .xterm-color-29 {
    color: #788479;
}

.terminal .xterm-bg-color-29 {
    background-color: #788479;
}

.terminal .xterm-color-30 {
    color: #7B877C;
}

.terminal .xterm-bg-color-30 {
    background-color: #7B877C;
}

.terminal .xterm-color-31 {
    color: #7E8A7F;
}

.terminal .xterm-bg-color-31 {
    background-color: #7E8A7F;
}

.terminal .xterm-color-32 {
    color: #818D82;
}

.terminal .xterm-bg-color-32 {
    background-color: #818D82;
}

.terminal .xterm-color-33 {
    color: #849085;
}

.terminal .xterm-bg-color-33 {
    background-color: #849085;
}

.terminal .xterm-color-34 {
    color: #818D82;
}

.terminal .xterm-bg-color-34 {
    background-color: #818D82;
}

.terminal .xterm-color-35 {
    color: #899589;
}

.terminal .xterm-bg-color-35 {
    background-color: #899589;
}

.terminal .xterm-color-36 {
    color: #8C988D;
}

.terminal .xterm-bg-color-36 {
    background-color: #8C988D;
}

.terminal .xterm-color-37 {
    color: #8F9B90;
}

.terminal .xterm-bg-color-37 {
    background-color: #8F9B90;
}

.terminal .xterm-color-38 {
    color: #929E93;
}

.terminal .xterm-bg-color-38 {
    background-color: #929E93;
}

.terminal .xterm-color-39 {
    color: #95A196;
}

.terminal .xterm-bg-color-39 {
    background-color: #95A196;
}

.terminal .xterm-color-40 {
    color: #929E93;
}

.terminal .xterm-bg-color-40 {
    background-color: #929E93;
}

.terminal .xterm-color-41 {
    color: #99A59A;
}

.terminal .xterm-bg-color-41 {
    background-color: #99A59A;
}

.terminal .xterm-color-42 {
    color: #9CA89D;
}

.terminal .xterm-bg-color-42 {
    background-color: #9CA89D;
}

.terminal .xterm-color-43 {
    color: #9FABA0;
}

.terminal .xterm-bg-color-43 {
    background-color: #9FABA0;
}

.terminal .xterm-color-44 {
    color: #A2AEA3;
}

.terminal .xterm-bg-color-44 {
    background-color: #A2AEA3;
}

.terminal .xterm-color-45 {
    color: #A5B1A6;
}

.terminal .xterm-bg-color-45 {
    background-color: #A5B1A6;
}

.terminal .xterm-color-46 {
    color: #A2AEA3;
}

.terminal .xterm-bg-color-46 {
    background-color: #A2AEA3;
}

.terminal .xterm-color-47 {
    color: #AAB6AB;
}

.terminal .xterm-bg-color-47 {
    background-color: #AAB6AB;
}

.terminal .xterm-color-48 {
    color: #ADB9AE;
}

.terminal .xterm-bg-color-48 {
    background-color: #ADB9AE;
}

.terminal .xterm-color-49 {
    color: #B0BCB1;
}

.terminal .xterm-bg-color-49 {
    background-color: #B0BCB1;
}

.terminal .xterm-color-50 {
    color: #B3BFB4;
}

.terminal .xterm-bg-color-50 {
    background-color: #B3BFB4;
}

.terminal .xterm-color-51 {
    color: #B6C2B7;
}

.terminal .xterm-bg-color-51 {
    background-color: #B6C2B7;
}

.terminal .xterm-color-52 {
    color: #4D594E;
}

.terminal .xterm-bg-color-52 {
    background-color: #4D594E;
}

.terminal .xterm-color-53 {
    color: #546055;
}

.terminal .xterm-bg-color-53 {
    background-color: #546055;
}

.terminal .xterm-color-54 {
    color: #576358;
}

.terminal .xterm-bg-color-54 {
    background-color: #576358;
}

.terminal .xterm-color-55 {
    color: #5A665B;
}

.terminal .xterm-bg-color-55 {
    background-color: #5A665B;
}

.terminal .xterm-color-56 {
    color: #5E6A5E;
}

.terminal .xterm-bg-color-56 {
    background-color: #5E6A5E;
}

.terminal .xterm-color-57 {
    color: #616D61;
}

.terminal .xterm-bg-color-57 {
    background-color: #616D61;
}

.terminal .xterm-color-58 {
    color: #748075;
}

.terminal .xterm-bg-color-58 {
    background-color: #748075;
}

.terminal .xterm-color-59 {
    color: #7C887C;
}

.terminal .xterm-bg-color-59 {
    background-color: #7C887C;
}

.terminal .xterm-color-60 {
    color: #7F8B7F;
}

.terminal .xterm-bg-color-60 {
    background-color: #7F8B7F;
}

.terminal .xterm-color-61 {
    color: #828E83;
}

.terminal .xterm-bg-color-61 {
    background-color: #828E83;
}

.terminal .xterm-color-62 {
    color: #859186;
}

.terminal .xterm-bg-color-62 {
    background-color: #859186;
}

.terminal .xterm-color-63 {
    color: #889489;
}

.terminal .xterm-bg-color-63 {
    background-color: #889489;
}

.terminal .xterm-color-64 {
    color: #859186;
}

.terminal .xterm-bg-color-64 {
    background-color: #859186;
}

.terminal .xterm-color-65 {
    color: #8C988D;
}

.terminal .xterm-bg-color-65 {
    background-color: #8C988D;
}

.terminal .xterm-color-66 {
    color: #8F9B90;
}

.terminal .xterm-bg-color-66 {
    background-color: #8F9B90;
}

.terminal .xterm-color-67 {
    color: #929E93;
}

.terminal .xterm-bg-color-67 {
    background-color: #929E93;
}

.terminal .xterm-color-68 {
    color: #95A196;
}

.terminal .xterm-bg-color-68 {
    background-color: #95A196;
}

.terminal .xterm-color-69 {
    color: #98A499;
}

.terminal .xterm-bg-color-69 {
    background-color: #98A499;
}

.terminal .xterm-color-70 {
    color: #95A196;
}

.terminal .xterm-bg-color-70 {
    background-color: #95A196;
}

.terminal .xterm-color-71 {
    color: #9DA99D;
}

.terminal .xterm-bg-color-71 {
    background-color: #9DA99D;
}

.terminal .xterm-color-72 {
    color: #A0ACA1;
}

.terminal .xterm-bg-color-72 {
    background-color: #A0ACA1;
}

.terminal .xterm-color-73 {
    color: #A3AFA4;
}

.terminal .xterm-bg-color-73 {
    background-color: #A3AFA4;
}

.terminal .xterm-color-74 {
    color: #A6B2A7;
}

.terminal .xterm-bg-color-74 {
    background-color: #A6B2A7;
}

.terminal .xterm-color-75 {
    color: #A9B5AA;
}

.terminal .xterm-bg-color-75 {
    background-color: #A9B5AA;
}

.terminal .xterm-color-76 {
    color: #A6B2A7;
}

.terminal .xterm-bg-color-76 {
    background-color: #A6B2A7;
}

.terminal .xterm-color-77 {
    color: #ADB9AE;
}

.terminal .xterm-bg-color-77 {
    background-color: #ADB9AE;
}

.terminal .xterm-color-78 {
    color: #B0BCB1;
}

.terminal .xterm-bg-color-78 {
    background-color: #B0BCB1;
}

.terminal .xterm-color-79 {
    color: #B3BFB4;
}

.terminal .xterm-bg-color-79 {
    background-color: #B3BFB4;
}

.terminal .xterm-color-80 {
    color: #B6C2B7;
}

.terminal .xterm-bg-color-80 {
    background-color: #B6C2B7;
}

.terminal .xterm-color-81 {
    color: #B9C5BA;
}

.terminal .xterm-bg-color-81 {
    background-color: #B9C5BA;
}

.terminal .xterm-color-82 {
    color: #B6C2B7;
}

.terminal .xterm-bg-color-82 {
    background-color: #B6C2B7;
}

.terminal .xterm-color-83 {
    color: #BECABE;
}

.terminal .xterm-bg-color-83 {
    background-color: #BECABE;
}

.terminal .xterm-color-84 {
    color: #C1CDC2;
}

.terminal .xterm-bg-color-84 {
    background-color: #C1CDC2;
}

.terminal .xterm-color-85 {
    color: #C4D0C5;
}

.terminal .xterm-bg-color-85 {
    background-color: #C4D0C5;
}

.terminal .xterm-color-86 {
    color: #C7D3C8;
}

.terminal .xterm-bg-color-86 {
    background-color: #C7D3C8;
}

.terminal .xterm-color-87 {
    color: #CAD6CB;
}

.terminal .xterm-bg-color-87 {
    background-color: #CAD6CB;
}

.terminal .xterm-color-88 {
    color: #556156;
}

.terminal .xterm-bg-color-88 {
    background-color: #556156;
}

.terminal .xterm-color-89 {
    color: #5D695E;
}

.terminal .xterm-bg-color-89 {
    background-color: #5D695E;
}

.terminal .xterm-color-90 {
    color: #606C61;
}

.terminal .xterm-bg-color-90 {
    background-color: #606C61;
}

.terminal .xterm-color-91 {
    color: #636F64;
}

.terminal .xterm-bg-color-91 {
    background-color: #636F64;
}

.terminal .xterm-color-92 {
    color: #667267;
}

.terminal .xterm-bg-color-92 {
    background-color: #667267;
}

.terminal .xterm-color-93 {
    color: #69756A;
}

.terminal .xterm-bg-color-93 {
    background-color: #69756A;
}

.terminal .xterm-color-94 {
    color: #7D897D;
}

.terminal .xterm-bg-color-94 {
    background-color: #7D897D;
}

.terminal .xterm-color-95 {
    color: #849085;
}

.terminal .xterm-bg-color-95 {
    background-color: #849085;
}

.terminal .xterm-color-96 {
    color: #879388;
}

.terminal .xterm-bg-color-96 {
    background-color: #879388;
}

.terminal .xterm-color-97 {
    color: #8A968B;
}

.terminal .xterm-bg-color-97 {
    background-color: #8A968B;
}

.terminal .xterm-color-98 {
    color: #8D998E;
}

.terminal .xterm-bg-color-98 {
    background-color: #8D998E;
}

.terminal .xterm-color-99 {
    color: #909C91;
}

.terminal .xterm-bg-color-99 {
    background-color: #909C91;
}

.terminal .xterm-color-100 {
    color: #8D998E;
}

.terminal .xterm-bg-color-100 {
    background-color: #8D998E;
}

.terminal .xterm-color-101 {
    color: #94A095;
}

.terminal .xterm-bg-color-101 {
    background-color: #94A095;
}

.terminal .xterm-color-102 {
    color: #98A498;
}

.terminal .xterm-bg-color-102 {
    background-color: #98A498;
}

.terminal .xterm-color-103 {
    color: #9BA79B;
}

.terminal .xterm-bg-color-103 {
    background-color: #9BA79B;
}

.terminal .xterm-color-104 {
    color: #9EAA9F;
}

.terminal .xterm-bg-color-104 {
    background-color: #9EAA9F;
}

.terminal .xterm-color-105 {
    color: #A1ADA2;
}

.terminal .xterm-bg-color-105 {
    background-color: #A1ADA2;
}

.terminal .xterm-color-106 {
    color: #9EAA9F;
}

.terminal .xterm-bg-color-106 {
    background-color: #9EAA9F;
}

.terminal .xterm-color-107 {
    color: #A5B1A6;
}

.terminal .xterm-bg-color-107 {
    background-color: #A5B1A6;
}

.terminal .xterm-color-108 {
    color: #A8B4A9;
}

.terminal .xterm-bg-color-108 {
    background-color: #A8B4A9;
}

.terminal .xterm-color-109 {
    color: #ABB7AC;
}

.terminal .xterm-bg-color-109 {
    background-color: #ABB7AC;
}

.terminal .xterm-color-110 {
    color: #AEBAAF;
}

.terminal .xterm-bg-color-110 {
    background-color: #AEBAAF;
}

.terminal .xterm-color-111 {
    color: #B1BDB2;
}

.terminal .xterm-bg-color-111 {
    background-color: #B1BDB2;
}

.terminal .xterm-color-112 {
    color: #AEBAAF;
}

.terminal .xterm-bg-color-112 {
    background-color: #AEBAAF;
}

.terminal .xterm-color-113 {
    color: #B5C1B6;
}

.terminal .xterm-bg-color-113 {
    background-color: #B5C1B6;
}

.terminal .xterm-color-114 {
    color: #B9C5B9;
}

.terminal .xterm-bg-color-114 {
    background-color: #B9C5B9;
}

.terminal .xterm-color-115 {
    color: #BCC8BD;
}

.terminal .xterm-bg-color-115 {
    background-color: #BCC8BD;
}

.terminal .xterm-color-116 {
    color: #BFCBC0;
}

.terminal .xterm-bg-color-116 {
    background-color: #BFCBC0;
}

.terminal .xterm-color-117 {
    color: #C2CEC3;
}

.terminal .xterm-bg-color-117 {
    background-color: #C2CEC3;
}

.terminal .xterm-color-118 {
    color: #BFCBC0;
}

.terminal .xterm-bg-color-118 {
    background-color: #BFCBC0;
}

.terminal .xterm-color-119 {
    color: #C6D2C7;
}

.terminal .xterm-bg-color-119 {
    background-color: #C6D2C7;
}

.terminal .xterm-color-120 {
    color: #C9D5CA;
}

.terminal .xterm-bg-color-120 {
    background-color: #C9D5CA;
}

.terminal .xterm-color-121 {
    color: #CCD8CD;
}

.terminal .xterm-bg-color-121 {
    background-color: #CCD8CD;
}

.terminal .xterm-color-122 {
    color: #CFDBD0;
}

.terminal .xterm-bg-color-122 {
    background-color: #CFDBD0;
}

.terminal .xterm-color-123 {
    color: #D2DED3;
}

.terminal .xterm-bg-color-123 {
    background-color: #D2DED3;
}

.terminal .xterm-color-124 {
    color: #5E6A5F;
}

.terminal .xterm-bg-color-124 {
    background-color: #5E6A5F;
}

.terminal .xterm-color-125 {
    color: #657166;
}

.terminal .xterm-bg-color-125 {
    background-color: #657166;
}

.terminal .xterm-color-126 {
    color: #687469;
}

.terminal .xterm-bg-color-126 {
    background-color: #687469;
}

.terminal .xterm-color-127 {
    color: #6B776C;
}

.terminal .xterm-bg-color-127 {
    background-color: #6B776C;
}

.terminal .xterm-color-128 {
    color: #6E7A6F;
}

.terminal .xterm-bg-color-128 {
    background-color: #6E7A6F;
}

.terminal .xterm-color-129 {
    color: #717D72;
}

.terminal .xterm-bg-color-129 {
    background-color: #717D72;
}

.terminal .xterm-color-130 {
    color: #859186;
}

.terminal .xterm-bg-color-130 {
    background-color: #859186;
}

.terminal .xterm-color-131 {
    color: #8C988D;
}

.terminal .xterm-bg-color-131 {
    background-color: #8C988D;
}

.terminal .xterm-color-132 {
    color: #8F9B90;
}

.terminal .xterm-bg-color-132 {
    background-color: #8F9B90;
}

.terminal .xterm-color-133 {
    color: #929E93;
}

.terminal .xterm-bg-color-133 {
    background-color: #929E93;
}

.terminal .xterm-color-134 {
    color: #96A296;
}

.terminal .xterm-bg-color-134 {
    background-color: #96A296;
}

.terminal .xterm-color-135 {
    color: #99A59A;
}

.terminal .xterm-bg-color-135 {
    background-color: #99A59A;
}

.terminal .xterm-color-136 {
    color: #96A296;
}

.terminal .xterm-bg-color-136 {
    background-color: #96A296;
}

.terminal .xterm-color-137 {
    color: #9DA99E;
}

.terminal .xterm-bg-color-137 {
    background-color: #9DA99E;
}

.terminal .xterm-color-138 {
    color: #A0ACA1;
}

.terminal .xterm-bg-color-138 {
    background-color: #A0ACA1;
}

.terminal .xterm-color-139 {
    color: #A3AFA4;
}

.terminal .xterm-bg-color-139 {
    background-color: #A3AFA4;
}

.terminal .xterm-color-140 {
    color: #A6B2A7;
}

.terminal .xterm-bg-color-140 {
    background-color: #A6B2A7;
}

.terminal .xterm-color-141 {
    color: #A9B5AA;
}

.terminal .xterm-bg-color-141 {
    background-color: #A9B5AA;
}

.terminal .xterm-color-142 {
    color: #A6B2A7;
}

.terminal .xterm-bg-color-142 {
    background-color: #A6B2A7;
}

.terminal .xterm-color-143 {
    color: #ADB9AE;
}

.terminal .xterm-bg-color-143 {
    background-color: #ADB9AE;
}

.terminal .xterm-color-144 {
    color: #B0BCB1;
}

.terminal .xterm-bg-color-144 {
    background-color: #B0BCB1;
}

.terminal .xterm-color-145 {
    color: #B4C0B4;
}

.terminal .xterm-bg-color-145 {
    background-color: #B4C0B4;
}

.terminal .xterm-color-146 {
    color: #B7C3B7;
}

.terminal .xterm-bg-color-146 {
    background-color: #B7C3B7;
}

.terminal .xterm-color-147 {
    color: #BAC6BB;
}

.terminal .xterm-bg-color-147 {
    background-color: #BAC6BB;
}

.terminal .xterm-color-148 {
    color: #B7C3B7;
}

.terminal .xterm-bg-color-148 {
    background-color: #B7C3B7;
}

.terminal .xterm-color-149 {
    color: #BECABF;
}

.terminal .xterm-bg-color-149 {
    background-color: #BECABF;
}

.terminal .xterm-color-150 {
    color: #C1CDC2;
}

.terminal .xterm-bg-color-150 {
    background-color: #C1CDC2;
}

.terminal .xterm-color-151 {
    color: #C4D0C5;
}

.terminal .xterm-bg-color-151 {
    background-color: #C4D0C5;
}

.terminal .xterm-color-152 {
    color: #C7D3C8;
}

.terminal .xterm-bg-color-152 {
    background-color: #C7D3C8;
}

.terminal .xterm-color-153 {
    color: #CAD6CB;
}

.terminal .xterm-bg-color-153 {
    background-color: #CAD6CB;
}

.terminal .xterm-color-154 {
    color: #C7D3C8;
}

.terminal .xterm-bg-color-154 {
    background-color: #C7D3C8;
}

.terminal .xterm-color-155 {
    color: #CEDACF;
}

.terminal .xterm-bg-color-155 {
    background-color: #CEDACF;
}

.terminal .xterm-color-156 {
    color: #D1DDD2;
}

.terminal .xterm-bg-color-156 {
    background-color: #D1DDD2;
}

.terminal .xterm-color-157 {
    color: #D5E1D5;
}

.terminal .xterm-bg-color-157 {
    background-color: #D5E1D5;
}

.terminal .xterm-color-158 {
    color: #D8E4D9;
}

.terminal .xterm-bg-color-158 {
    background-color: #D8E4D9;
}

.terminal .xterm-color-159 {
    color: #DBE7DC;
}

.terminal .xterm-bg-color-159 {
    background-color: #DBE7DC;
}

.terminal .xterm-color-160 {
    color: #667267;
}

.terminal .xterm-bg-color-160 {
    background-color: #667267;
}

.terminal .xterm-color-161 {
    color: #6D796E;
}

.terminal .xterm-bg-color-161 {
    background-color: #6D796E;
}

.terminal .xterm-color-162 {
    color: #717D71;
}

.terminal .xterm-bg-color-162 {
    background-color: #717D71;
}

.terminal .xterm-color-163 {
    color: #748075;
}

.terminal .xterm-bg-color-163 {
    background-color: #748075;
}

.terminal .xterm-color-164 {
    color: #778378;
}

.terminal .xterm-bg-color-164 {
    background-color: #778378;
}

.terminal .xterm-color-165 {
    color: #7A867B;
}

.terminal .xterm-bg-color-165 {
    background-color: #7A867B;
}

.terminal .xterm-color-166 {
    color: #8D998E;
}

.terminal .xterm-bg-color-166 {
    background-color: #8D998E;
}

.terminal .xterm-color-167 {
    color: #95A196;
}

.terminal .xterm-bg-color-167 {
    background-color: #95A196;
}

.terminal .xterm-color-168 {
    color: #98A499;
}

.terminal .xterm-bg-color-168 {
    background-color: #98A499;
}

.terminal .xterm-color-169 {
    color: #9BA79C;
}

.terminal .xterm-bg-color-169 {
    background-color: #9BA79C;
}

.terminal .xterm-color-170 {
    color: #9EAA9F;
}

.terminal .xterm-bg-color-170 {
    background-color: #9EAA9F;
}

.terminal .xterm-color-171 {
    color: #A1ADA2;
}

.terminal .xterm-bg-color-171 {
    background-color: #A1ADA2;
}

.terminal .xterm-color-172 {
    color: #9EAA9F;
}

.terminal .xterm-bg-color-172 {
    background-color: #9EAA9F;
}

.terminal .xterm-color-173 {
    color: #A5B1A6;
}

.terminal .xterm-bg-color-173 {
    background-color: #A5B1A6;
}

.terminal .xterm-color-174 {
    color: #A8B4A9;
}

.terminal .xterm-bg-color-174 {
    background-color: #A8B4A9;
}

.terminal .xterm-color-175 {
    color: #ABB7AC;
}

.terminal .xterm-bg-color-175 {
    background-color: #ABB7AC;
}

.terminal .xterm-color-176 {
    color: #AEBAAF;
}

.terminal .xterm-bg-color-176 {
    background-color: #AEBAAF;
}

.terminal .xterm-color-177 {
    color: #B2BEB2;
}

.terminal .xterm-bg-color-177 {
    background-color: #B2BEB2;
}

.terminal .xterm-color-178 {
    color: #AEBAAF;
}

.terminal .xterm-bg-color-178 {
    background-color: #AEBAAF;
}

.terminal .xterm-color-179 {
    color: #B6C2B7;
}

.terminal .xterm-bg-color-179 {
    background-color: #B6C2B7;
}

.terminal .xterm-color-180 {
    color: #B9C5BA;
}

.terminal .xterm-bg-color-180 {
    background-color: #B9C5BA;
}

.terminal .xterm-color-181 {
    color: #BCC8BD;
}

.terminal .xterm-bg-color-181 {
    background-color: #BCC8BD;
}

.terminal .xterm-color-182 {
    color: #BFCBC0;
}

.terminal .xterm-bg-color-182 {
    background-color: #BFCBC0;
}

.terminal .xterm-color-183 {
    color: #C2CEC3;
}

.terminal .xterm-bg-color-183 {
    background-color: #C2CEC3;
}

.terminal .xterm-color-184 {
    color: #BFCBC0;
}

.terminal .xterm-bg-color-184 {
    background-color: #BFCBC0;
}

.terminal .xterm-color-185 {
    color: #C6D2C7;
}

.terminal .xterm-bg-color-185 {
    background-color: #C6D2C7;
}

.terminal .xterm-color-186 {
    color: #C9D5CA;
}

.terminal .xterm-bg-color-186 {
    background-color: #C9D5CA;
}

.terminal .xterm-color-187 {
    color: #CCD8CD;
}

.terminal .xterm-bg-color-187 {
    background-color: #CCD8CD;
}

.terminal .xterm-color-188 {
    color: #D0DCD0;
}

.terminal .xterm-bg-color-188 {
    background-color: #D0DCD0;
}

.terminal .xterm-color-189 {
    color: #D3DFD3;
}

.terminal .xterm-bg-color-189 {
    background-color: #D3DFD3;
}

.terminal .xterm-color-190 {
    color: #CFDBD0;
}

.terminal .xterm-bg-color-190 {
    background-color: #CFDBD0;
}

.terminal .xterm-color-191 {
    color: #D7E3D8;
}

.terminal .xterm-bg-color-191 {
    background-color: #D7E3D8;
}

.terminal .xterm-color-192 {
    color: #DAE6DB;
}

.terminal .xterm-bg-color-192 {
    background-color: #DAE6DB;
}

.terminal .xterm-color-193 {
    color: #DDE9DE;
}

.terminal .xterm-bg-color-193 {
    background-color: #DDE9DE;
}

.terminal .xterm-color-194 {
    color: #E0ECE1;
}

.terminal .xterm-bg-color-194 {
    background-color: #E0ECE1;
}

.terminal .xterm-color-195 {
    color: #E3EFE4;
}

.terminal .xterm-bg-color-195 {
    background-color: #E3EFE4;
}

.terminal .xterm-color-196 {
    color: #6F7B6F;
}

.terminal .xterm-bg-color-196 {
    background-color: #6F7B6F;
}

.terminal .xterm-color-197 {
    color: #768277;
}

.terminal .xterm-bg-color-197 {
    background-color: #768277;
}

.terminal .xterm-color-198 {
    color: #79857A;
}

.terminal .xterm-bg-color-198 {
    background-color: #79857A;
}

.terminal .xterm-color-199 {
    color: #7C887D;
}

.terminal .xterm-bg-color-199 {
    background-color: #7C887D;
}

.terminal .xterm-color-200 {
    color: #7F8B80;
}

.terminal .xterm-bg-color-200 {
    background-color: #7F8B80;
}

.terminal .xterm-color-201 {
    color: #828E83;
}

.terminal .xterm-bg-color-201 {
    background-color: #828E83;
}

.terminal .xterm-color-202 {
    color: #96A297;
}

.terminal .xterm-bg-color-202 {
    background-color: #96A297;
}

.terminal .xterm-color-203 {
    color: #9DA99E;
}

.terminal .xterm-bg-color-203 {
    background-color: #9DA99E;
}

.terminal .xterm-color-204 {
    color: #A0ACA1;
}

.terminal .xterm-bg-color-204 {
    background-color: #A0ACA1;
}

.terminal .xterm-color-205 {
    color: #A3AFA4;
}

.terminal .xterm-bg-color-205 {
    background-color: #A3AFA4;
}

.terminal .xterm-color-206 {
    color: #A6B2A7;
}

.terminal .xterm-bg-color-206 {
    background-color: #A6B2A7;
}

.terminal .xterm-color-207 {
    color: #A9B5AA;
}

.terminal .xterm-bg-color-207 {
    background-color: #A9B5AA;
}

.terminal .xterm-color-208 {
    color: #A6B2A7;
}

.terminal .xterm-bg-color-208 {
    background-color: #A6B2A7;
}

.terminal .xterm-color-209 {
    color: #AEBAAF;
}

.terminal .xterm-bg-color-209 {
    background-color: #AEBAAF;
}

.terminal .xterm-color-210 {
    color: #B1BDB2;
}

.terminal .xterm-bg-color-210 {
    background-color: #B1BDB2;
}

.terminal .xterm-color-211 {
    color: #B4C0B5;
}

.terminal .xterm-bg-color-211 {
    background-color: #B4C0B5;
}

.terminal .xterm-color-212 {
    color: #B7C3B8;
}

.terminal .xterm-bg-color-212 {
    background-color: #B7C3B8;
}

.terminal .xterm-color-213 {
    color: #BAC6BB;
}

.terminal .xterm-bg-color-213 {
    background-color: #BAC6BB;
}

.terminal .xterm-color-214 {
    color: #B7C3B8;
}

.terminal .xterm-bg-color-214 {
    background-color: #B7C3B8;
}

.terminal .xterm-color-215 {
    color: #BECABF;
}

.terminal .xterm-bg-color-215 {
    background-color: #BECABF;
}

.terminal .xterm-color-216 {
    color: #C1CDC2;
}

.terminal .xterm-bg-color-216 {
    background-color: #C1CDC2;
}

.terminal .xterm-color-217 {
    color: #C4D0C5;
}

.terminal .xterm-bg-color-217 {
    background-color: #C4D0C5;
}

.terminal .xterm-color-218 {
    color: #C7D3C8;
}

.terminal .xterm-bg-color-218 {
    background-color: #C7D3C8;
}

.terminal .xterm-color-219 {
    color: #CAD6CB;
}

.terminal .xterm-bg-color-219 {
    background-color: #CAD6CB;
}

.terminal .xterm-color-220 {
    color: #C7D3C8;
}

.terminal .xterm-bg-color-220 {
    background-color: #C7D3C8;
}

.terminal .xterm-color-221 {
    color: #CFDBD0;
}

.terminal .xterm-bg-color-221 {
    background-color: #CFDBD0;
}

.terminal .xterm-color-222 {
    color: #D2DED3;
}

.terminal .xterm-bg-color-222 {
    background-color: #D2DED3;
}

.terminal .xterm-color-223 {
    color: #D5E1D6;
}

.terminal .xterm-bg-color-223 {
    background-color: #D5E1D6;
}

.terminal .xterm-color-224 {
    color: #D8E4D9;
}

.terminal .xterm-bg-color-224 {
    background-color: #D8E4D9;
}

.terminal .xterm-color-225 {
    color: #DBE7DC;
}

.terminal .xterm-bg-color-225 {
    background-color: #DBE7DC;
}

.terminal .xterm-color-226 {
    color: #D8E4D9;
}

.terminal .xterm-bg-color-226 {
    background-color: #D8E4D9;
}

.terminal .xterm-color-227 {
    color: #DFEBE0;
}

.terminal .xterm-bg-color-227 {
    background-color: #DFEBE0;
}

.terminal .xterm-color-228 {
    color: #E2EEE3;
}

.terminal .xterm-bg-color-228 {
    background-color: #E2EEE3;
}

.terminal .xterm-color-229 {
    color: #E5F1E6;
}

.terminal .xterm-bg-color-229 {
    background-color: #E5F1E6;
}

.terminal .xterm-color-230 {
    color: #E8F4E9;
}

.terminal .xterm-bg-color-230 {
    background-color: #E8F4E9;
}

.terminal .xterm-color-231 {
    color: #ECF8EC;
}

.terminal .xterm-bg-color-231 {
    background-color: #ECF8EC;
}

.terminal .xterm-color-232 {
    color: #3F4B40;
}

.terminal .xterm-bg-color-232 {
    background-color: #3F4B40;
}

.terminal .xterm-color-233 {
    color: #465247;
}

.terminal .xterm-bg-color-233 {
    background-color: #465247;
}

.terminal .xterm-color-234 {
    color: #4D594E;
}

.terminal .xterm-bg-color-234 {
    background-color: #4D594E;
}

.terminal .xterm-color-235 {
    color: #546055;
}

.terminal .xterm-bg-color-235 {
    background-color: #546055;
}

.terminal .xterm-color-236 {
    color: #5B675C;
}

.terminal .xterm-bg-color-236 {
    background-color: #5B675C;
}

.terminal .xterm-color-237 {
    color: #626E63;
}

.terminal .xterm-bg-color-237 {
    background-color: #626E63;
}

.terminal .xterm-color-238 {
    color: #69756A;
}

.terminal .xterm-bg-color-238 {
    background-color: #69756A;
}

.terminal .xterm-color-239 {
    color: #707C70;
}

.terminal .xterm-bg-color-239 {
    background-color: #707C70;
}

.terminal .xterm-color-240 {
    color: #778378;
}

.terminal .xterm-bg-color-240 {
    background-color: #778378;
}

.terminal .xterm-color-241 {
    color: #7E8A7F;
}

.terminal .xterm-bg-color-241 {
    background-color: #7E8A7F;
}

.terminal .xterm-color-242 {
    color: #859186;
}

.terminal .xterm-bg-color-242 {
    background-color: #859186;
}

.terminal .xterm-color-243 {
    color: #8C988C;
}

.terminal .xterm-bg-color-243 {
    background-color: #8C988C;
}

.terminal .xterm-color-244 {
    color: #939F93;
}

.terminal .xterm-bg-color-244 {
    background-color: #939F93;
}

.terminal .xterm-color-245 {
    color: #9AA69B;
}

.terminal .xterm-bg-color-245 {
    background-color: #9AA69B;
}

.terminal .xterm-color-246 {
    color: #A1ADA2;
}

.terminal .xterm-bg-color-246 {
    background-color: #A1ADA2;
}

.terminal .xterm-color-247 {
    color: #A8B4A9;
}

.terminal .xterm-bg-color-247 {
    background-color: #A8B4A9;
}

.terminal .xterm-color-248 {
    color: #AFBBAF;
}

.terminal .xterm-bg-color-248 {
    background-color: #AFBBAF;
}

.terminal .xterm-color-249 {
    color: #B6C2B7;
}

.terminal .xterm-bg-color-249 {
    background-color: #B6C2B7;
}

.terminal .xterm-color-250 {
    color: #BDC9BE;
}

.terminal .xterm-bg-color-250 {
    background-color: #BDC9BE;
}

.terminal .xterm-color-251 {
    color: #C4D0C5;
}

.terminal .xterm-bg-color-251 {
    background-color: #C4D0C5;
}

.terminal .xterm-color-252 {
    color: #CBD7CC;
}

.terminal .xterm-bg-color-252 {
    background-color: #CBD7CC;
}

.terminal .xterm-color-253 {
    color: #D2DED2;
}

.terminal .xterm-bg-color-253 {
    background-color: #D2DED2;
}

.terminal .xterm-color-254 {
    color: #D9E5D9;
}

.terminal .xterm-bg-color-254 {
    background-color: #D9E5D9;
}

.terminal .xterm-color-255 {
    color: #E0ECE1;
}

.terminal .xterm-bg-color-255 {
    background-color: #E0ECE1;
}
