div#mod_syslog {
    border-top: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    font-family: var(--font_main_light);
    letter-spacing: 0.092vh;
    padding: 0.645vh 0vh;
    display: flex;
    flex-wrap: wrap;
}

div#mod_syslog::before {
    content: "";
    border-left: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    align-self: flex-start;
    position: relative;
    left: -0.092vh;
    top: -1.111vh;
    height: 0.833vh;
}

div#mod_syslog::after {
    content: "";
    border-right: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    position: relative;
    right: -15.4vw;
    top: -13vh;
    height: 0.833vh;
}

div#mod_syslog h1 {
    font-size: 1.48vh;
    margin: 0vh;
    margin-bottom: -1vh;
    width: 98%;
}

div#mod_syslog i {
    font-style: normal;
    font-size: 1.20vh;
    opacity: 0.5;
    text-align: right;
    display: inline-block;
    position: relative;
    bottom: 1.78vh;
    width: 100%;
}

div#mod_syslog pre {
    overflow: hidden;
    white-space: pre-wrap;
    margin: 0px;
    height: 9.8vh;
    margin-top: 0.2vh;
    width: 99%;
    margin-left: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    opacity: 0.8;
}

div#mod_syslog pre:empty::after {
    content: "NO LOG";
    margin: auto;
    position: relative;
    right: 0.5vh;
}
