webview#mod_streaming {
   border-top: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
   display: flex;
   padding-bottom:2px;
   padding-top:2px;
   height: 22vh;
}

webview#mod_streaming::before {
    content: "";
    border-left: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    position: relative;
    left: -0.092vh;
    top: -0.6vh;
    height: 0.833vh;
}

webview#mod_streaming::after {
    content: "";
    border-right: 0.092vh solid rgba(var(--color_r), var(--color_g), var(--color_b), 0.3);
    position: relative;
    left: -0.092vh;
    top: -0.6vh;
    height: 0.833vh;
}

