section.mod_column {
    width: 17%;
    top: 2.5vh;
    min-height: 10%;
    max-height: 96%;
    padding: 1.39vh;
    padding-bottom: 0vh;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    opacity: 0;
    transition: opacity .5s cubic-bezier(0.4, 0, 1, 1);
}

section.mod_column.activated {
    opacity: 1;
}

section.mod_column > h3.title {
    top: 0.74vh;
    width: 14.8%;
}

section.mod_column > div {
    width: 100%;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

section#mod_column_left {
    left: -0.555vh;
    align-items: flex-end;
}

section#mod_column_left > h3.title {
    left: 0.555vh;
}

section#mod_column_right {
    right: -0.555vh;
    align-items: flex-start;
}

section#mod_column_right > h3.title {
    right: 0.555vh;
}
