@font-face {
font-family: "Fira Mono";
  src: url("../fonts/2b8448d01a50ec1ac97d96c883b8a9b8.eot"); /* IE9*/
  src: url("../fonts/2b8448d01a50ec1ac97d96c883b8a9b8.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/2b8448d01a50ec1ac97d96c883b8a9b8.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/2b8448d01a50ec1ac97d96c883b8a9b8.woff") format("woff"), /* chrome、firefox */
  url("../fonts/2b8448d01a50ec1ac97d96c883b8a9b8.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/2b8448d01a50ec1ac97d96c883b8a9b8.svg#Fira Mono") format("svg"); /* iOS 4.1- */
}

@font-face {
font-family: "United Sans Medium";
  src: url("../fonts/001fbf0f03dcd8de5cf2fa710d1c66fa.eot"); /* IE9*/
  src: url("../fonts/001fbf0f03dcd8de5cf2fa710d1c66fa.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/001fbf0f03dcd8de5cf2fa710d1c66fa.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/001fbf0f03dcd8de5cf2fa710d1c66fa.woff") format("woff"), /* chrome、firefox */
  url("../fonts/001fbf0f03dcd8de5cf2fa710d1c66fa.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/001fbf0f03dcd8de5cf2fa710d1c66fa.svg#United Sans Reg Medium") format("svg"); /* iOS 4.1- */
}

body {
  font-family: "United Sans Medium", sans-serif;
}

pre {
  font-family: "Fira Mono", sans-serif;
}
