section#keyboard {
    width: 100%;
    align-self: flex-start;
    border: none;
}

section#keyboard table, section#keyboard tbody {
    width: 100%;
}

section#keyboard tr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
}

section#keyboard td {
    font-size: 23px;
    border: none;
    border-radius: 3px;
    margin: 6px;
    padding: 2px;
    margin-left: 8px;
    margin-right: 8px;
    height: 38px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease-out;
}

section#keyboard td:active, section#keyboard td.active {
    background-color: #bec4c1;
    transition: none;
}

section#keyboard td.function_key {
    width: auto;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

#keyboard_numbers {
    right: 10px;
}

#keyboard_qwerty {
    right: 5px;
}

#keyboard_asdfgh {
    left: 25px;
}

#keyboard_spacebar td {
    width: 20% !important;
    height: 19px !important;
    border: 1px solid #a0a5a3 !important;
}
