section#main_shell {
    width: 55%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: nowrap;
    background-color: #050505;
}

section#main_shell pre {
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.terminal .xterm-viewport {
    overflow: hidden !important;
}

.terminal {
    font-family: inherit !important;
}
